
.icon-play-outline:before { content: '\e807'; } /* '' */
.icon-stop-outline:before { content: '\e808'; } /* '' */
.icon-pause-outline:before { content: '\e80a'; } /* '' */
.icon-fast-fw-outline:before { content: '\e80c'; } /* '' */
.icon-rewind-outline:before { content: '\e80e'; } /* '' */
.icon-shuffle:before { content: '\f03b'; } /* '' */